.playwright-mcp/*.png
.phive
.phpdoc-cache
tools/
page/dev/phpdoc

**/var/debug.log
**/var/cache
**/debug.log
**/cache/


.DS_Store
tmp/sf_member.02.17.sql
db.config.php
etc/db.config.php
etc/utilities/phpMyAdmin/tmp
**/phpMyAdmin/tmp
var/
var/*
**/var/*
bin/.phpunit.result.cache
.temp/
**/.temp/
vendor/pestphp/pest/.temp/test-results
--cache-result
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Playwright
/playwright/.auth/
